@charset "UTF-8";

@font-face {
    font-family: 'luckpet';
    src: url(fontes/petangue\ DEMO.otf) format(opentype);
}

* {
    margin: 0px;
    padding: 0px;
    
}
body, html {
    width: 100%;
    height: 100%;
    background-color: rgba(153, 0, 255, 0.918);
}

div#caixa01 {
    background-image: url(img/karsten-winegeart-WaMMo0it6Vg-unsplash.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    

    box-shadow: 1px 2px 5px 1px rgb(0, 0, 0);
    width: 280px;
    height: 80vh;
    position: absolute;

    left: 50%;
    top: 50%;
    overflow: hidden;
    transform: translate(-50%, -50%);  
}

h1.h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 1px black;
    color: white;
    margin-top: -8px;
}

p.p {
    text-align: center;
    margin-top: -3px;
    text-shadow: 1px 1px black;
    color: white;
    padding: 5px;
}

form {
  margin-top: 50px;
  
  padding: 30px;
  color: white;
}


input.input1 {
    padding: 5px;
    margin: 5px;
    margin-bottom: 4px;
    margin-top: 4px;
    border-radius: 8px;
}
input.input2 {
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
}
input.input3 {
    color:rgb(206, 47, 255);
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    margin: 5px 0px 0px 35px;
    padding: 5px;
    font-family: luckpet2;
}
input.input3:hover {
    background-color: rgba(255, 255, 255, 0.74);
    cursor: pointer;
}