@charset "UTF-8";

@media screen  and (min-width: 350px) and (max-width: 400px){
    * {
        margin: 0px;
        padding: 0px;
    }
    h1#titu1 {
        font-size: 35px;
    }
    .h3 {
        font-size: 15px;
        margin-top: -40px;
    }
    #pesquisa {
        margin-top: 32px;
        font-size: 10px;
        width: 70%;
    }
    .h10 {
        margin-top: -30px;
        text-indent: 40px;
        font-size: 22px;
    }
    .carousel {
        margin-left: 40px;
        margin-top: -10px;
    }
    .carousel-btn {
        font-size: 10px;
    }
}