@charset "UTF-8";

@media screen  and (min-width: 350px) and (max-width: 400px){
    * {
        margin: 0px;
        padding: 0px;
    }
    .p1 {
        font-size: 11px;
    }
    h1#titu1 {
        font-size: 35px;
    }
    .h3 {
        font-size: 15px;
        margin-top: -40px;
    }
    #pesquisa {
        margin-top: 30px;
        font-size: 10px;
        width: 70%;
    }
    .h10 {
        margin-top: -10px;
        text-indent: 40px;
        font-size: 28px;
    }
    .carousel {
        margin-left: 40px;
        margin-top: -10px;
    }
    .carousel-btn {
        font-size: 10px;
    }
    .section02 {
        margin-top: -20px;
        height: 460px;
    }
    .titu12 {
        font-size: 25px;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .raçao1 {
        width: 165px;
    }
    .raçao2 {
        width: 165px;
    }
    .raçao3 {
        width: 165px;
    }
    .raçao4 {
        width: 165px;
    }
    .raçao5 {
        width: 165px;
    }
    .raçao6 {
        width: 165px;
    }
    .raçao7 {
        width: 165px;
    }
    .raçao8 {
        width: 165px;
    }
    .raçao9 {
        width: 165px;
    }
}


@media screen  and (min-width: 401px) and (max-width: 550px){
    * {
        margin: 0px;
        padding: 0px;
    }
    h1#titu1 {
        font-size: 50px;
    }
    .h3 {
        font-size: 15px;
        margin-top: -50px;
    }
    #pesquisa {
        margin-top: 47px;
        font-size: 15px;
        width: 70%;
    }
    .h10 {
        margin-top: 0px;
        text-indent: 55px;
        font-size: 30px;
    }
    .carousel {
        margin-left: 55px;
        margin-top: -1px;
        
    }
    .carousel-btn {
        font-size: 10px;
    }
    .section02 {
        margin-top: 7px;
        height: 440px;
    }
    .titu12 {
        font-size: 25px;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .raçao1 {
        width: 185px;
    }
    .raçao2 {
        width: 185px;
    }
    .raçao3 {
        width: 185px;
    }
    .raçao4 {
        width: 185px;
    }
    .raçao5 {
        width: 185px;
    }
    .raçao6 {
        width: 185px;
    }
    .raçao7 {
        width: 185px;
    }
    .raçao8 {
        width: 185px;
    }
    .raçao9 {
        width: 185px;
    }
}


@media screen  and (min-width: 550px) and (max-width: 1050px){
    * {
        margin: 0px;
        padding: 0px;
    }
    h1#titu1 {
        font-size: 60px;
    }
    .h3 {
        font-size: 20px;
        margin-top: -60px;
    }
    #pesquisa {
        margin-top: 58px;
        font-size: 20px;
        width: 70%;
    }
    .h10 {
        margin-top: -5px;
        text-indent: 70px;
        font-size: 35px;
    }
    .carousel {
        margin-left: 70px;
        margin-top: -10px;
    }
    .carousel-btn {
        font-size: 10px;
    }
    .section02 {
        margin-top: -4px;
        height: 460px;
    }
    .titu12 {
        font-size: 25px;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .raçao1 {
        width: 195px;
    }
    .raçao2 {
        width: 195px;
    }
    .raçao3 {
        width: 195px;
    }
    .raçao4 {
        width: 195px;
    }
    .raçao5 {
        width: 195px;
    }
    .raçao6 {
        width: 165px;
    }
    .raçao7 {
        width: 195px;
    }
    .raçao8 {
        width: 195px;
    }
    .raçao9 {
        width: 195px;
    }
}