@charset "UTF-8";

/*PAGINA LOGIN*/

@media screen and (min-width: 350px) and (max-width: 767px) {
    body {
        background-image: url(PetLuck.png);
        background-size: 180px;
    }
    h1.h1 {
        margin-top: 9px;
        font-size: 1.8em;
    }
    .form02 {
        margin-top: 160px;
}
}
input.input1 {
    width: 70%;
    margin-top: 35px;
}
input.input2 {
    width: 70%;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: url(PetLuck.png);
        background-size: 200px;
    }
    h1.h1 {
        margin-top: 15px;
        font-size: 2.1em;
    }
    p.p {
        font-size: 1.2em;
    }
    div#caixa01 {
     width: 350px;
     height: 84vh;
    }
    input.input1 {
        width: 70%;
    }
    input.input2 {
        width: 70%;
    }
    .form02 {
        margin-top: 162px;
}
}


@media screen and (min-width: 992px) and (max-width: 1400px) {
    body {
        background-image: url(PetLuck.png);
}
h1.h1 {
    font-size: 2.5em;
    margin-top: 15px;
}
p.p {
    font-size: 1.2em;
}
div#caixa01 {
 width: 410px;
 height: 84vh;
}
input.input1 {
    width: 80%;
}
input.input2 {
    width: 80%;
}
.form02 {
    margin-top: 150px;
}
h1.luckpet  {
    font-size: 40px;
}
}

/*PAGINA PRINCIPAL
--------------------*/

