@charset "UTF-8"; 

@font-face {
    font-family: 'luckpet';
    src: url(KittenPaws-Regular.ttf) format(opentype); 
}
@font-face {
    font-family: 'luckpet1';
    src: url(pepperoni_pizza.ttf) format(opentype);
}
@font-face {
    font-family: 'luckpet2';
    src: url(MilkyNice-Clean.otf) format(opentype);
}

* {
    margin: 0px;
    padding: 0px;
}

body, html {
    height: 780px;
    width: 100%;
}

.p1 {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.4vh;
    padding: 4px;
}

h1#titu1 {
      font-family: luckpet;
      color: rgba(255, 255, 255, 0.911);
      background-color: rgba(72, 0, 139, 0.671);
      
      padding: 10px;
      font-size: 60px;
}
.h3 {
    color: orange;
    text-align:right;
    margin-top: -54px;
    padding-right: 14px;
    font-size: 18px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a:hover {
    color: rgb(255, 81, 0);
}
#pesquisa {
    text-align: center;
    margin: auto;
    display:block;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 23px 23px 23px 23px;

     width: 30vw;
    height: 30px;
}
div.input {
    margin-top: -10px;
}

.h10 {
    text-indent: 100px;
    font-family: luckpet1;
    font-size: 40px;
    margin-top: 40px;
}

.carousel-container {
    
    width: 80%;
    height: 20px;
    max-width: 600px;
    overflow: hidden;
}

.carousel {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 80vw;
    margin-left: 100px;
}

.carousel-item {
    min-width: 225px;
    background-color: #ffd90000;
    color: #333;
    padding: 3px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    flex: none;
}

.carousel-btn {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 0px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 50%;
}

.left-btn {
    left: 0px;
}

.right-btn {
    right: 0px;
}

.carousel-btn:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.img01 {
    width: 350px;
}
.img02 {
    width: 350px;
}
.img03 {
    width: 350px;
}
.img04 {
    width: 350px;
}
.img05 {
    width: 350px;
}

.section01 {
    height: 70%;
}
.section02 {
    background-color: #88888852;
    height: 544px;
    width: 100%;
    margin-top: 45px;
}
.titu12 {
    text-align: center;
    font-family: luckpet1;
    font-size: 35px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: rgba(0, 0, 0, 0.918);
}

.carousel02 {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    padding: 10px;
    font-family:monospace;
    font-weight: bolder;
    font-size: 17px;
}

.raçao1 {
    width: 200px;
}
.raçao2 {
    width: 200px;
}
.raçao3 {
    width: 200px;
}
.raçao4 {
    width: 200px;
}
.raçao5 {
    width: 200px;
}
.raçao6 {
    width: 200px;
}
.raçao7 {
    width: 200px;
}
.raçao8 {
    width: 200px;
}
.raçao9 {
    width: 200px;
}

.divraçao1 {
    background-color: rgba(255, 255, 255, 0.575);
    height: 315px;
    border-radius: 20px 20px 20px;
    margin: auto;
    text-align: center;
}
.divraçao2 {
    background-color: rgba(255, 255, 255, 0.575);
    height: 315px;
    border-radius: 20px 20px 20px;
    margin: auto;
    text-align: center;
}
.divraçao3 {
    background-color: rgba(255, 255, 255, 0.575);
    height: 315px;
    border-radius: 20px 20px 20px;
    margin: auto;
    text-align: center;
}
.divraçao4 {
    background-color: rgba(255, 255, 255, 0.575);
    height: 315px;
    border-radius: 20px 20px 20px;
    margin: auto;
    text-align: center;
}
.divraçao5 {
    background-color: rgba(255, 255, 255, 0.575);
    height: 315px;
    border-radius: 20px 20px 20px;
    margin: auto;
    text-align: center;
}
.divraçao6 {
    background-color: rgba(255, 255, 255, 0.575);
    height: 315px;
    border-radius: 20px 20px 20px;
    margin: auto;
    text-align: center;
}
.divraçao7 {
    background-color: rgba(255, 255, 255, 0.575);
    height: 315px;
    border-radius: 20px 20px 20px;
    margin: auto;
    text-align: center;
}
.divraçao8 {
    background-color: rgba(255, 255, 255, 0.575);
    height: 315px;
    border-radius: 20px 20px 20px;
    margin: auto;
    text-align: center;
}
.divraçao9 {
    background-color: rgba(255, 255, 255, 0.575);
    height: 315px;
    border-radius: 20px 20px 20px;
    margin: auto;
    text-align: center;
}

button {
    width: 120px;
    height: 22px;
    border-radius: 15px 15px;
}


.section03 {
    width: 100%;
    height: 500px;
    text-align: center;
    background-color: rgba(0, 172, 100, 0.637) ;
}
.titu13 {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    padding-top: 20px;
    padding-bottom: 30px;
    color: rgba(72, 0, 139, 0.863);
}
.planos {
    display: flex;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
   padding: 20px;
   gap: 30px;
   color: rgba(72, 0, 139, 0.863);
}
.plano1 {
    width: 500px;
    height: 300px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px 15px 15px;
}
.plano2 {
    width: 500px;
    height: 300px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px 15px 15px;
}
.plano3 {
    width: 500px;
    height: 300px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px 15px 15px;
}
.butplano {
    margin-top: 10px;
    font-family: luckpet2;
    font-size: 20px;
    width: 160px;
    height: 60px;
    padding: 15px 20px 20px 20px;
    color: white;
    background-color: rgba(72, 0, 139, 0.863);
    border-radius: 20px 20px 20px 20px;
    box-shadow: 1px 2px 5px 0px rgb(255, 0, 0);
}