@charset "UTF-8"; 

@font-face {
    font-family: 'luckpet';
    src: url(petangue\ DEMO.otf) format(opentype);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    
}

.p1 {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.4vh;
    padding: 4px;
}

h1#titu1 {
      font-family: luckpet;
      color: rgba(255, 255, 255, 0.911);
      background-color: rgba(72, 0, 139, 0.753);
      
      padding: 10px;
      font-size: 60px;
}
.h3 {
    color: orange;
    text-align:right;
    margin-top: -54px;
    padding-right: 14px;
    font-size: 18px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a:hover {
    color: rgb(255, 81, 0);
}
#pesquisa {
    text-align: center;
    margin: auto;
    display:block;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 23px 23px 23px 23px;

     width: 30vw;
    height: 30px;
}
div.input {
    margin-top: -10px;
}

.h10 {
    text-indent: 200px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
}

.carousel-container {
    
    width: 80%;
    height: 20px;
    max-width: 600px;
    overflow: hidden;
}

.carousel {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 70vw;
    margin-left: 200px;
}

.carousel-item {
    min-width: 225px;
    background-color: #ffd90000;
    color: #333;
    padding: 1px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    flex: none;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1px;
    border-radius: 50%;
}

.left-btn {
    left: 0px;
}

.right-btn {
    right: 10px;
}

.carousel-btn:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.img01 {
    width: 230px;
}
.img02 {
    width: 230px;
}
.img03 {
    width: 230px;
}
.img04 {
    width: 230px;
}
.img05 {
    width: 230px;
}

.section01 {
    height: 70%;
}
.section02 {
    background-color: #888888;
    height: 200px;
    width: 100%;
}
.titu12 {
    text-align: center;
    color: rgb(255, 255, 255);
}